* {
  cursor: default;
}

main {
  max-width: 1400px;
  width: 100%;
margin: 0 auto;
}
.post-container {
  width: 100%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.post-item{
  margin: 1rem;
}
.post-card{
  display: flex;
  justify-content: space-between;

}

.btn {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: aliceblue;
  /* cursor:grabbing; */
  /* margin: 10px; */
}

.btn:hover {
  background-color: black;

  color: aqua;
}
/* reg cursor:cell; */
.buttons {
  display: flex;
  justify-content: space-around;
}

p {
  margin-bottom: 10px;
  /* border: 0.5px solid blue; */
  border-radius: 10px;
  text-align: center;
}

.inputswitch {
  display: flex;
  justify-content: center;
}