*{
    cursor:default;
  }
  
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
  }
  

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .p-control{
    color:crimson;
    padding-bottom: 10px;
    font-size: large;
    position: relative;
    width: 100%;
    overflow-wrap: break-word;
  }
  
  .input-place {
    border: none;
    background-color: crimson;
    margin-bottom: 20px;
    padding-left: 10px;
    height: 30px;
    border-radius: 30px;
    color: blue;
  
  }
  
  .input-place:focus {
    outline: none;
  }
  
  .btn {
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    /* cursor:grabbing; */
    /* margin: 10px; */
  }
  
  .btn:hover {
    background-color: black;
  
    color: aqua;
  }
  /* reg cursor:cell; */
  .buttons{
    display: flex;
    justify-content: space-between;
  }