<main>
  <div class="login-container">
    <div class="input">
      <div class="user-input">
        <input class="input-place" type="text" placeholder="Username" #username/>
        
      </div>

      <div class="pw-input">
        <input class="input-place" type="text" placeholder="Password" #password/>
      </div>
    </div>

    <div class="buttons">
      <button (click)="login(username.value, password.value)" class="btn">Log</button>
      <button class="btn">Reg</button>
    </div>
  </div>
</main>
