<main>
  <div class="main-container">
    <form [formGroup]="blogForm" class="input-container">

      <p
        class="p-control"
        *ngIf="
          blogForm.get('body').invalid && blogForm.get('body').touched
        "
      >
        <!-- Please enter a valid password -->
      </p>
      <input
        type="text"
        placeholder="Enter blog text"
        name="blogText"
        formControlName="body"
        class="input-place"
      />
      <button class="btn" type="submit" [disabled]="blogForm.invalid" (click)="onSubmit()">Submit</button>
      <!-- go back -->
      <button class="btn" type="submit" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</main>
