<main>
  <div class="main-container">
    <form [formGroup]="blogForm" class="input-container">
      <!-- Create input for blog text and button onSubmit() -->
      <p
        class="p-control"
        *ngIf="
          blogForm.get('bodyText').invalid && blogForm.get('bodyText').touched
        "
      >
        Please enter a valid password
      </p>
      <input
        type="text"
        placeholder="Enter blog text"
        name="blogText"
        formControlName="bodyText"
        class="input-place"
      />
      <button class="btn" type="submit" [disabled]="blogForm.invalid" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</main>
